# Arquivos objeto
*.o
*.obj

# Executáveis
*.exe
*.out

# Bibliotecas
*.so
*.dll
*.a
*.lib

# Diretórios de compilação
build/
bin/
Debug/
Release/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# VS Code
.vscode/

# Code::Blocks
*.layout
*.depend

# Qt Creator
*.pro.user